{% macro render_ref(ref) %}{% set ref_name = ref.replace("#/definitions/", "") %}[{{ ref_name }}](#{{ ref_name|lower }}){% endmacro %}

{# API Information #}
{% set info  = swagger_data.info %}
# {{ info.title }} [v{{ info.version }}]
{{ info.description }}

{# API Endpoints #}
{% set endpoints = swagger_data.paths %}
## API Endpoints
{% for endpoint_url in endpoints %}

{% set endpoint = endpoints[endpoint_url] %}
### {{ endpoint_url }}
{% for http_method in endpoint %}

{% if http_method in ['get', 'post', 'put', 'delete'] %}
#### {{ http_method|upper }}
{% set method_details = endpoint[http_method] %}
{{ method_details.description }}

{% if 'summary' in method_details %}
##### Summary
{{ method_details.summary }}
{% endif %}

{% if 'description' in method_details %}
##### Description
{{ method_details.description }}
{% endif %}

{% if 'parameters' in method_details %}
##### Parameters
{% set parameters = method_details.parameters %}

| Name | Located in | Description | Required | Schema |
| ---- | ---------- | ----------- | -------- | ------ |
{% for parameter in parameters %}
| {{ parameter.name }} | {{ parameter.in }} | {{ parameter.description }} | {{ 'Yes' if parameter.required else 'No' }} | {{ render_ref(parameter.schema['$ref']) if 'schema' in parameter else '' }} |
{% endfor %}
{% endif %}

{% if 'responses' in method_details %}
##### Responses
{% set responses = method_details.responses %}

| Code | Description | Schema |
| ---- | ----------- | ------ |
{% for response_code in responses %}
{% set response = responses[response_code] %}
| {{ response_code }} | {{ response.description }} | {{ response.schema }} |
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{# API Schemas #}
{% set schemas = swagger_data.definitions %}
## API Schemas
{% for schema_name in schemas %}
{% set schema = schemas[schema_name] %}

### {{ schema_name }}

| Name | Type | Description | Required | Example |
| ---- | ---- | ----------- | -------- | ------- |
{% for property_name in schema.properties %}
{% set property = schema.properties[property_name] %}
| {{ property_name }} | {{ property.type }} | {{ property.description }} | {{ 'Yes' if property_name in schema.required else 'No' }} | {{ property.example }} |
{% endfor %}
{% endfor %}