{% extends 'layout.html' %}
{% set title = 'Shopping Cart' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            {% if cart['articles']|length != 0 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                                </div>
                                <div class="col-xs-6">
                                    <a href="{{ url_for('ecommerce.index') }}" role="button"
                                       class="btn btn-default btn-sm btn-block">
                                        <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% for article in cart['articles'] %}
                            <div class="row">
                                <div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
                                </div>
                                <div class="col-xs-4">
                                    <h4 class="product-name"><strong>{{ article.title }}</strong></h4>
                                    <h4>
                                        <small>by <a href="{{ url_for('user.profile', user_id=article.seller_id) }}">
                                            {{ article.seller_id }}</a></small>
                                    </h4>
                                </div>
                                <div class="col-xs-6">
                                    <div class="col-xs-6 text-right">
                                        <h6><strong>{{ article.price }} <span
                                                class="text-muted">x</span></strong></h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control input-sm"
                                               value="{{ article.quantity }}">
                                    </div>
                                    <div class="col-xs-2">
                                        <form action="{{ url_for('cart.delete_cart_article', article_id=article.article_id) }}"
                                              method="POST">
                                            <button type="submit" class="btn btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-trash"> </span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        <div class="row">
                            <div class="text-center">
                                <div class="col-xs-9">
                                    <h6 class="text-right">Added articles?</h6>
                                </div>
                                <div class="col-xs-3">
                                    <a href="{{ url_for('cart.index') }}" role="button"
                                       class="btn btn-default btn-sm btn-block">
                                        Update cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <div class="col-xs-9">
                                <h4 class="text-right">Total <strong>${{ cart.total_price }}</strong></h4>
                            </div>
                            <div class="col-xs-3">
                                <form action="{{ url_for('ecommerce.checkout') }}" method="POST">
                                    <button type="submit" class="btn btn-success btn-block">
                                        Checkout
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% else %}
                <h3>Shopping cart is empty. <a href="{{ url_for('ecommerce.index') }}" role="button"
                                               class="btn btn-default">
                    <span class="glyphicon glyphicon-share-alt"></span> Continue Shopping
                </a></h3>
            {% endif %}
    </div>
{% endblock %}
