{% extends 'layout.html' %}
{% set title = 'Profile' %}

{% block body %}
    <form action="{{ url_for('user.delete_account') }}" method="POST">
        <button type="submit" class="btn btn-danger">Delete Account</button>
    </form>
{% endblock %}
