{% extends 'layout.html' %}
{% set title = 'My Articles' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/datatables-1.10.18/datatables.min.css') }}">
{% endblock %}

{% macro display_quantity(quantity) %}
    {% if quantity <= 5 %}
        {% set color = 'red' %}
    {% elif quantity < 30 %}
        {% set color = 'orange' %}
    {% else %}
        {% set color = 'green' %}
    {% endif %}

    <label style="color: {{ color }};">{{ quantity }}</label>
{% endmacro %}

{% block body %}
    <h2>Articles</h2>
    <table id="articles" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.article_id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.price }}</td>
                <td>{{ display_quantity(article.quantity) }}</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Create new article</h2>
    <form action="{{ url_for('ecommerce.create_article') }}" method="POST">
        <div class="input-group col-xs-12 col-md-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
        </div>
        <div class="input-group col-xs-12 col-md-4">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
        </div>
        <div class="input-group col-xs-12 col-md-4">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <div class="input-group col-xs-12 col-md-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" id="price" name="price" placeholder="0.00">
        </div>
        <div class="input-group col-xs-12 col-md-4">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity" placeholder="1">
        </div>
        <button type="submit" class="btn btn-primary">Sell article</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/datatables-1.10.18/datatables.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('#articles').DataTable();
        });
    </script>
{% endblock %}