{% extends 'layout.html' %}
{% set title = 'Login' %}

{% block body %}
    <h3>{{ title }}</h3>

    <form action="{{ url_for('user.login') }}" method="POST">
        <div class="input-group col-xs-12 col-md-4">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="input-group col-xs-12 col-md-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <p>Not a member yet? <a href="{{ url_for('user.register') }}">Create an account!</a></p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}