{% extends 'layout.html' %}
{% set title = 'Home' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/datatables-1.10.18/datatables.min.css') }}">
{% endblock %}

{% macro display_status(status_code) %}
    {% set color = 'red' if status_code == 'CLOSED' else 'green' %}
    <label style="color: {{ color }};">{{ status_code }}</label>
{% endmacro %}

{% macro display_update(date) %}
    {{ date if date is not none else 'No updates found' }}
{% endmacro %}

{% block body %}
    <h2>Inbound Orders</h2>
    <table id="inbound-orders" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Created on</th>
            <th>Status</th>
            <th>Last updated on</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in inbound %}
            <tr>
                <td>{{ order['order_id'] }}</td>
                <td>{{ order['created_date'] }}</td>
                <td>{{ display_status(order['status']) }}</td>
                <td>{{ display_update(order['updated_date']) }}</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Outbound Orders</h2>
    <table id="outbound-orders" class="table" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Created on</th>
            <th>Status</th>
            <th>Last updated on</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in outbound %}
            <tr>
                <td>{{ order['order_id'] }}</td>
                <td>{{ order['created_date'] }}</td>
                <td>{{ display_status(order['status']) }}</td>
                <td>{{ display_update(order['updated_date']) }}</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/datatables-1.10.18/datatables.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('#inbound-orders').DataTable();
        });

        $(document).ready(function () {
            $('#outbound-orders').DataTable();
        });
    </script>
{% endblock %}
