{% extends 'layout.html' %}
{% set title = 'Register' %}

{% block body %}
    <h3>{{ title }}</h3>

    <form action="{{ url_for('user.register') }}" method="POST">
        <div class="input-group col-xs-12 col-md-4">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="j_doe">
        </div>
        <div class="input-group col-xs-12 col-md-4">
            <label for="name">Full name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="John Doe">
        </div>
        <div class="input-group col-xs-12 col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="john.doe@outlook.com">
        </div>
        <div class="input-group col-xs-12 col-md-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <p>Already a member? <a href="{{ url_for('user.login') }}">Login!</a></p>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}