{% extends 'layout.html' %}
{% set title = 'Home' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/datatables-1.10.18/datatables.min.css') }}">
{% endblock %}

{% block body %}
    <table id="catalog" class="table" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for article in catalog %}
            <tr>
                <td><img src="http://placehold.it/100x70"></td>
                <td>{{ article['title'] }}</td>
                <td>{{ article['price'] }}</td>
                <td>
                    <form action="{{ url_for('cart.add_cart_article', article_id=article['article_id']) }}"
                          method="POST">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/datatables-1.10.18/datatables.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('#catalog').DataTable();
        });
    </script>
{% endblock %}