<!DOCTYPE html>
<html lang="en">
<head>
    {% set brand = 'E-Commerce' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/default/icon.png') }}">
    <title>{{ brand }} | {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/bootstrap-3.3.7/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block stylesheets %} {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('ecommerce.index') }}">{{ brand }}</a>
        </div>
        <div class="collapse navbar-collapse" id="theNavbar">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ current_user.name }} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user.account') }}"><span
                                    class="glyphicon glyphicon-user"></span> My Account</a></li>
                            <li><a href="{{ url_for('user.orders') }}"><span
                                    class="glyphicon glyphicon-th-list"></span> My Orders</a></li>
                            <li><a href="{{ url_for('user.articles') }}"><span
                                    class="glyphicon glyphicon-tags"></span> My Articles</a></li>
                            <li><a href="{{ url_for('user.logout') }}"><span class="glyphicon glyphicon-off"></span>
                                Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('user.register') }}"><span class="glyphicon glyphicon-user"></span> Sign up</a>
                    </li>
                    <li><a href="{{ url_for('user.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                {% endif %}
                <li><a href="{{ url_for('cart.index') }}"><span class="glyphicon glyphicon-shopping-cart"></span>
                    Shopping cart
                    {% if 'cart' in session %}
                        <span class="badge">{{ session['cart']['articles']|length }}</span></a></li>
                    {% else %}
                        {% set cart = load_cart() %}
                        <span class="badge">{{ cart['articles']|length }}</span></a></li>
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %} {% endblock %}
</div>


<script src="{{ url_for('static', filename='dist/jquery-3.3.1/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
{% block scripts %} {% endblock %}
</body>
</html>
