{% extends 'layout.html' %}
{% set title = 'Thank You' %}

{% block body %}
    <h2>Thank you for your purchase, {{ current_user.name }}!</h2>
    <a href="{{ url_for('ecommerce.index') }}" role="button"
       class="btn btn-default btn-sm btn-block">
        <span class="glyphicon glyphicon-share-alt"></span> Here I go shopping again!
    </a>
{% endblock %}